<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EK" connectionString="EncryptionKeyCodeAppStore@020EncryptStringSalt_zwZX"/>
    <add name="_EK" connectionString="LC08E9663TOR3"/>
    <add name="_EF" connectionString="LICE"/>
    <add name="_ES" connectionString="S"/>
    <add name="_CES" connectionString="C"/>
    <add name="_PS" connectionString="Z"/>
    <add name="_CS" connectionString="A"/>
    <add name="_CST" connectionString="BySyStEmCoDeApPsToRe"/>
    <add name="_DS" connectionString="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"/>
    <add name="_PW" connectionString="p@sSw0rd"/>
    <add name="_UI" connectionString="uId"/>
    <add name="_TK" connectionString="tOkEN"/>
  </connectionStrings>
</configuration>